<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %5p [%t]: %m%n"/>
		</Console>
		<RollingRandomAccessFile name="ROLLFILE" fileName="${sys:user.dir}/logs/LogCutter.log"
								 filePattern="$${sys:user.dir}/logs/LogCutter-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{ABSOLUTE} %5p [%t]: %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<!-- Root Logger -->
		<Root level="INFO">
			<AppenderRef ref="STDOUT"/>
		</Root>
		<!-- LogCutter Logger -->
		<Logger name="LogCutter" level="INFO" additivity="false">
			<AppenderRef ref="ROLLFILE" />			
		</Logger>
	</Loggers>
</Configuration>
